<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title"> Player Detail</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2 pull-left">
                                            <label class="control-label">Rows per page</label>
                                            <select class="form-control" [(ngModel)]="pageSize" name="pageSize"
                                                    (ngModelChange)="onPageSizeChanged($event)">
                                                <option *ngFor="let opt of limitOptions"
                                                        [value]="opt.value">{{opt.key}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div>
                                        <ngx-datatable
                                            #myTable
                                            class="material expandable"
                                            [columnMode]="'force'"
                                            [headerHeight]="50"
                                            [footerHeight]="50"
                                            [rowHeight]="'auto'"
                                            [externalPaging]="true"
                                            [count]=totalSize
                                            [limit]=pageSize
                                            [rows]="rows"
                                            (page)="onPage($event)"
                                        >
                                            <!-- Row Detail Template -->
                                            <ngx-datatable-row-detail rowHeight="'auto'" #myDetailRow
                                                                      (toggle)="onDetailToggle($event)">
                                                <ng-template let-row="row" let-expanded="expanded"
                                                             ngx-datatable-row-detail-template>
<!--                                                    <div style="padding:30px;">-->
                                                        <!--                            <div><strong>Session</strong></div>-->
                                                        <!--                            <div>{{ row.session }}</div>-->
                                                        <!--                            <div><strong>Session Total</strong></div>-->
                                                        <!--                            <div>{{ row.sessiontotal }}</div>-->
                                                        <!--                            <div><strong>Life Time</strong></div>-->
                                                        <!--                            <div>{{ row.lifeTime }}</div>-->
                                                        <div>
                                                            <table class="table table-striped">
                                                                <tbody>
                                                                    <tr>
                                                                        <th>Today's Session</th>
                                                                        <td>{{row.session}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Total Session</th>
                                                                        <td>{{row.sessiontotal}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Life Time of Player</th>
                                                                        <td>{{row.lifeTime}} Days</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Rake</th>
                                                                        <td>{{row.playerRack}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th>Last Login</th>
                                                                        <td>{{row.lastLogin}}</td>
                                                                    </tr>
                                                                </tbody>

                                                            </table>
                                                        </div>
<!--                                                    </div>-->
                                                </ng-template>
                                            </ngx-datatable-row-detail>
                                            <!-- Column Templates -->
                                            <ngx-datatable-column
                                                    [width]="50"
                                                    [resizeable]="false"
                                                    [sortable]="false"
                                                    [draggable]="false"
                                                    [canAutoResize]="false"
                                            >
                                                <ng-template let-row="row" let-expanded="expanded"
                                                             ngx-datatable-cell-template>
                                                    <a
                                                            href="javascript:void(0)"
                                                            [class.datatable-icon-right]="!expanded"
                                                            [class.datatable-icon-down]="expanded"
                                                            title="Expand/Collapse Row"
                                                            (click)="toggleExpandRow(row)"
                                                    >
                                                    </a>
                                                </ng-template>
                                            </ngx-datatable-column>
<!--                                            <ngx-datatable-column name="Index" width="80">-->
<!--                                                <ng-template let-rowIndex="rowIndex" let-row="row"-->
<!--                                                             ngx-datatable-cell-template>-->
<!--                                                    <strong>{{ rowIndex }}</strong>-->
<!--                                                </ng-template>-->
<!--                                            </ngx-datatable-column>-->
                                            <!--                      <ngx-datatable-column name="Expanded" width="80">-->
                                            <!--                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>-->
                                            <!--                          <strong>{{ expanded === 1 }}</strong>-->
                                            <!--                        </ng-template>-->
                                            <!--                      </ngx-datatable-column>-->
                                            <ngx-datatable-column name="PlayerId" width="200">
                                                <ng-template let-value="value" ngx-datatable-cell-template>
                                                    <strong>{{ value }}</strong>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="First Name" width="300">
                                                <ng-template let-row="row" let-value="value"
                                                             ngx-datatable-cell-template>
                                                    <strong>{{ value }}</strong>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <!--                      <ngx-datatable-column name="Age"></ngx-datatable-column>-->
                                        </ngx-datatable>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


