<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">{{title}}</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-12">

                                    <div *ngIf="showMain;">
                                        <div class="row">
                                            <div class="col-md-4 pull-left">
                                                <!--                                            <label class="control-label">Date</label>-->
                                                <input class="form-check-input" type="radio" name="abc"
                                                       [(ngModel)]="dDate"
                                                       (change)="test()" value="true">Date Range
                                                <input class="form-check-input" type="radio" name="abc"
                                                       [(ngModel)]="dDate"
                                                       (change)="test()" value="false">Months
                                                <div *ngIf="!changePicker; else other_content">
                                                    <input type="date" name="month" [value]="today" class="form-control"
                                                           [(ngModel)]="selectedDate">
                                                </div>
                                                <ng-template #other_content>
                                                    <input type="text" class="form-control" matInput
                                                           ngxDaterangepickerMd
                                                           [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
                                                           [lockStartDate]="false"
                                                           startKey="start"
                                                           endKey="end"
                                                           [(ngModel)]="rangeDate"
                                                           name="daterange"/>
                                                </ng-template>
                                            </div>
                                            <div class="col-md-2 pull-left">
                                                <button type="button" style="margin-top: 24px" class="btn btn-primary"
                                                        (click)="filterMethod()">Filter
                                                </button>&nbsp;
                                                <button type="button" style="margin-top: 24px" class="btn btn-primary"
                                                        (click)="exportMain()">Print</button>
                                            </div>
                                        </div>
                                        <ngx-datatable
                                            #myTable
                                            class='material'
                                            [columnMode]="'force'"
                                            [headerHeight]="40"
                                            [footerHeight]="50"
                                            [rowHeight]="'auto'"
                                            [externalPaging]="true"
                                            [count]="totalSize"
                                            [offset]="currentPage"
                                            [limit]=pageSize
                                            [rows]='rows'
                                            (page)="pageCallback($event)">

                                            <ngx-datatable-column name="Monthly Budget">
                                                <ng-template let-row="row" let-value="value"
                                                             ngx-datatable-cell-template>
                                                    <strong (click)="onBudgetClick(row, 'budget')">{{row.monthlyBudget}}</strong>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="Avg Revenue Per Month">
                                                <ng-template let-row="row" let-value="value"
                                                             ngx-datatable-cell-template>
                                                    <strong (click)="onBudgetClick(row, 'revenue')">{{row.AvgRevenuePerMonth}}</strong>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="Monthly Active Users">
                                                <ng-template let-row="row" let-value="value"
                                                             ngx-datatable-cell-template>
                                                    <strong (click)="onBudgetClick(row, 'activeUser')">{{row.monthlyActive}}</strong>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="Rake Per Month">
                                                <ng-template let-row="row" let-value="value"
                                                             ngx-datatable-cell-template>
                                                    <strong (click)="onBudgetClick(row, 'rake')">{{row.rakePerMonth}}</strong>
                                                </ng-template>
                                            </ngx-datatable-column>
                                        </ngx-datatable>
                                    </div>

                                    <div *ngIf="showActiveUser;">
                                        <div class="row">
                                            <div class="col-md-2 pull-left">
                                                <button type="button" style="margin-top: 24px" class="btn btn-primary"
                                                        (click)="onBack()">Back
                                                </button>&nbsp;
                                                <button type="button" style="margin-top: 24px" class="btn btn-primary"
                                                        (click)="exportsfunction('ActiveUser')">Print</button>
                                            </div>
                                        </div>
                                        <ngx-datatable
                                            #myTable
                                            class='material'
                                            [columnMode]="'force'"
                                            [headerHeight]="40"
                                            [footerHeight]="50"
                                            [rowHeight]="'auto'"
                                            [externalPaging]="true"
                                            [count]="totalSize"
                                            [offset]="currentPage"
                                            [limit]=pageSize
                                            [rows]='rows'
                                            (page)="pageCallback($event)">

                                            <ngx-datatable-column name="player Id">
                                                <ng-template let-row="row" let-value="value"
                                                             ngx-datatable-cell-template>
                                                    <strong>{{row.playerId}}</strong>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="player Name">
                                                <ng-template let-row="row" let-value="value"
                                                             ngx-datatable-cell-template>
                                                    <strong>{{row.firstName}}</strong>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="Month">
                                                <ng-template let-row="row" let-value="value"
                                                             ngx-datatable-cell-template>
                                                    <strong>{{row.month}}</strong>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="Year">
                                                <ng-template let-row="row" let-value="value"
                                                             ngx-datatable-cell-template>
                                                    <strong>{{row.year}}</strong>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="Last Login">
                                                <ng-template let-row="row" let-value="value"
                                                             ngx-datatable-cell-template>
                                                    <strong>{{row.lastLogin}}</strong>
                                                </ng-template>
                                            </ngx-datatable-column>
                                        </ngx-datatable>
                                    </div>

                                    <div *ngIf="showBudget;">
                                        <div class="row">
                                            <div class="col-md-2 pull-left">
                                                <button type="button" style="margin-top: 24px" class="btn btn-primary"
                                                        (click)="onBack()">Back
                                                </button>&nbsp;
                                                <button type="button" style="margin-top: 24px" class="btn btn-primary"
                                                        (click)="exportsfunction('Expenses')">Print</button>
                                            </div>
                                        </div>
<!--                                        <div class="row">-->
<!--                                                <div class="col-md-2 pull-right">-->
<!--                                                    <button type="button" class="btn btn-primary"-->
<!--                                                            (click)="exportsfunction('Expenses')">Print</button>-->
<!--                                                </div>-->
<!--                                        </div>-->
                                        <ngx-datatable
                                            #myTable
                                            class='material'
                                            [columnMode]="'force'"
                                            [headerHeight]="40"
                                            [footerHeight]="50"
                                            [rowHeight]="'auto'"
                                            [externalPaging]="true"
                                            [count]="totalSize"
                                            [offset]="currentPage"
                                            [limit]=pageSize
                                            [rows]='rows'
                                            (page)="pageCallback($event)">

                                            <ngx-datatable-column name="User Id">
                                                <ng-template let-row="row" let-value="value"
                                                             ngx-datatable-cell-template>
                                                    <strong>{{row.userId}}</strong>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="First Name">
                                                <ng-template let-row="row" let-value="value"
                                                             ngx-datatable-cell-template>
                                                    <strong>{{row.firstName}}</strong>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="Month">
                                                <ng-template let-row="row" let-value="value"
                                                             ngx-datatable-cell-template>
                                                    <strong>{{row.month}}</strong>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="Budget Amount">
                                                <ng-template let-row="row" let-value="value"
                                                             ngx-datatable-cell-template>
                                                    <strong>{{row.budgetAmount}}</strong>
                                                </ng-template>
                                            </ngx-datatable-column>
                                        </ngx-datatable>
                                    </div>

                                    <div *ngIf="showRake">
                                        <div class="row">
                                            <div class="col-md-2 pull-left">
                                                <button type="button" class="btn btn-primary"
                                                        (click)="onBack()">Back
                                                </button>&nbsp;
                                                <button type="button" class="btn btn-primary"
                                                        (click)="exportsfunction('Rake')">Print</button>
                                            </div>
                                        </div>
                                        <ngx-datatable
                                            #myTable
                                            class='material'
                                            [columnMode]="'force'"
                                            [headerHeight]="40"
                                            [footerHeight]="50"
                                            [rowHeight]="'auto'"
                                            [externalPaging]="true"
                                            [count]="totalSize"
                                            [offset]="currentPage"
                                            [limit]=pageSize
                                            [rows]='rows'
                                            (page)="pageCallback($event)">

                                            <ngx-datatable-column name="Date">
                                                <ng-template let-row="row" let-value="value"
                                                             ngx-datatable-cell-template>
                                                    <strong>{{row.date}}</strong>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="Time">
                                                <ng-template let-row="row" let-value="value"
                                                             ngx-datatable-cell-template>
                                                    <strong>{{row.time}}</strong>
                                                </ng-template>
                                            </ngx-datatable-column>
                                            <ngx-datatable-column name="Rake Amount">
                                                <ng-template let-row="row" let-value="value"
                                                             ngx-datatable-cell-template>
                                                    <strong>{{row.rakeAmount}}</strong>
                                                </ng-template>
                                            </ngx-datatable-column>
                                        </ngx-datatable>
                                    </div>

<!--                                    <div *ngIf="showRake">-->
<!--                                        <p>Rake</p>-->
<!--                                        <div class="row">-->
<!--                                            <div class="col-md-2 pull-right">-->
<!--                                                <button type="button" class="btn btn-primary"-->
<!--                                                        (click)="onBack()">Back-->
<!--                                                </button>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <ngx-datatable-->
<!--                                            #myTable-->
<!--                                            class='material'-->
<!--                                            [columnMode]="'force'"-->
<!--                                            [headerHeight]="40"-->
<!--                                            [footerHeight]="50"-->
<!--                                            [rowHeight]="'auto'"-->
<!--                                            [externalPaging]="true"-->
<!--                                            [count]="totalSize"-->
<!--                                            [offset]="currentPage"-->
<!--                                            [limit]=pageSize-->
<!--                                            [rows]='rows'-->
<!--                                            (page)="pageCallback($event)">-->

<!--                                            <ngx-datatable-column name="Date">-->
<!--                                                <ng-template let-row="row" let-value="value"-->
<!--                                                             ngx-datatable-cell-template>-->
<!--                                                    <strong>{{row.date}}</strong>-->
<!--                                                </ng-template>-->
<!--                                            </ngx-datatable-column>-->
<!--                                            <ngx-datatable-column name="Time">-->
<!--                                                <ng-template let-row="row" let-value="value"-->
<!--                                                             ngx-datatable-cell-template>-->
<!--                                                    <strong>{{row.time}}</strong>-->
<!--                                                </ng-template>-->
<!--                                            </ngx-datatable-column>-->
<!--                                            <ngx-datatable-column name="Rake Amount">-->
<!--                                                <ng-template let-row="row" let-value="value"-->
<!--                                                             ngx-datatable-cell-template>-->
<!--                                                    <strong>{{row.rakeAmount}}</strong>-->
<!--                                                </ng-template>-->
<!--                                            </ngx-datatable-column>-->
<!--                                        </ngx-datatable>-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" *ngIf="!editBlock">Revoke Player</h4>
        <button type="button" class="btn btn-primary" (click)="revokeallData()">Revoke All
        </button>
      </div>
      <div class="modal-body">
        <ngx-datatable
                #myTable
                class='material'
                [columnMode]="'force'"
                [headerHeight]="40"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [externalPaging]="true"
                [count]="detailstotalSize"
                [offset]="detailscurrentPage"
                [limit]=pageSize
                [rows]='details'
                (page)="detailPageCallback($event,rows)"
        >
          <ngx-datatable-column name="Player Id">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <strong>{{value}}</strong>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Profile Name">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <strong>{{value}}</strong>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Entry Amount">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <strong>{{value}}</strong>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column>
            <ng-template ngx-datatable-header-template>
              <span>Action</span>
            </ng-template>
            <ng-template let-row="row" ngx-datatable-cell-template>
              <button type="button" class="btn btn-primary" (click)="revokeData(row)">Revoke
              </button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>&lt;!&ndash; /.modal-content &ndash;&gt;
  </div>&lt;!&ndash; /.modal-dialog &ndash;&gt;
</div>&lt;!&ndash; /.modal !&ndash;&gt;-->
