<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Reward History</h4>
          </div>
          <div class="content">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-2 pull-left">
                      <label class="control-label">Rows per page</label>
                      <select class="form-control" [(ngModel)]="pageSize" name="pageSize"
                              (ngModelChange)="onPageSizeChanged($event)">
                        <option *ngFor="let opt of limitOptions"
                                [value]="opt.value">{{opt.key}}</option>
                      </select>
                    </div>
                  </div>

                  <ngx-datatable
                          #myTable
                          class='material'
                          [columnMode]="'force'"
                          [headerHeight]="40"
                          [footerHeight]="50"
                          [rowHeight]="'auto'"
                          [externalPaging]="true"
                          [count]="totalSize"
                          [limit]=pageSize
                          [rows]='rows'
                          (page)="pageCallback($event)"
                  >
                    <ngx-datatable-column name="Player Reward History Id">
                      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <strong>{{value}}</strong>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Reward Amount">
                      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <strong>{{value}}</strong>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column>
                      <ng-template ngx-datatable-header-template>
                        <span>Reward Name</span>
                      </ng-template>
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <strong>{{row.rewardName}}</strong>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column>
                      <ng-template ngx-datatable-header-template>
                        <span>Reward Type</span>
                      </ng-template>
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <strong>{{row.rewardType}}</strong>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column>
                      <ng-template ngx-datatable-header-template>
                        <span>Created On</span>
                      </ng-template>
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <strong>{{row.createdOn}}</strong>
                      </ng-template>
                    </ngx-datatable-column>
                  </ngx-datatable>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>