<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title"> Daily Activity Panel</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <button class="btn" (click)="exportAsExcelFile(rows)">Print</button>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="card-counter primary">
                                                    <i class="fa fa-code-fork"></i>
                                                    <span class="count-numbers">{{rows.dailyActive}} Users</span>
                                                    <span class="count-name">Daily Active Users</span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="card-counter danger">
                                                    <i class="fa fa-ticket"></i>
                                                    <span class="count-numbers">{{rows.monthlyActive}} Users</span>
                                                    <span class="count-name">Monthly Active Users</span>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="card-counter success">
                                                    <i class="fa fa-database"></i>
                                                    <span class="count-numbers">{{rows.AvgRevenuePerUser}} / Users</span>
                                                    <span class="count-name">Average Revenue per Users</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="card-counter info">
                                                    <i class="fa fa-users"></i>
                                                    <span class="count-numbers">{{rows.AvgLifeTime}}</span>
                                                    <span class="count-name">Average lifetime</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="card-counter primary">
                                                    <i class="fa fa-users"></i>
                                                    <span class="count-numbers">{{rows.AvgLifeTimeValue}}</span>
                                                    <span class="count-name">Average Lifetime Value</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
